<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: user-status"></div>
<ul th:if="${productPage != null}">
    <li th:each="product : ${productPage.content}">
        <div>
            <label>상품명 : </label>
            <strong th:text="${product.productName}">상품명</strong>
        </div>
        <p th:text="'등록일자 : ' + ${#temporals.format(product.createdAt, 'yyyy-MM-dd HH:mm:ss')}">등록일자</p>
        <div>
            <label>작성자 : </label>
            <span th:text="${product.userId}">작성자</span>
        </div>
        <div>
            <a th:href="@{/board/product/{id}(id=${product.id})}">상세보기</a>
        </div>
    </li>
</ul>

<div>
    <a th:href="@{/board/productCreate}">상품등록</a>
</div>

<button id="claimBtn" data-coupon-id="4">선착순 쿠폰 받기(한정 수량 100개)</button>
<p id="result"></p>
<div class="pagination">
    <!-- 첫 페이지로 이동 -->
    <a th:if="${!productPage.first}" th:href="@{/board/product(page=0)}">« 처음</a>

    <!-- 이전 페이지 -->
    <a th:if="${productPage.hasPrevious()}"
       th:href="@{/board/product(page=${productPage.number - 1})}">‹ 이전</a>

    <!-- 번호 리스트 -->
    <span th:each="i : ${#numbers.sequence(0, productPage.totalPages - 1)}">
        <a th:href="@{/board/product(page=${i})}"
           th:text="${i + 1}"
           th:classappend="${i == productPage.number} ? 'active-page' : ''">
        </a>
    </span>

    <!-- 다음 페이지 -->
    <a th:if="${productPage.hasNext()}"
       th:href="@{/board/product(page=${productPage.number + 1})}">다음 ›</a>

    <!-- 마지막 페이지로 이동 -->
    <a th:if="${!productPage.last}"
       th:href="@{/board/product(page=${productPage.totalPages - 1})}">마지막 »</a>
</div>
</body>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script>
    document.getElementById("claimBtn").addEventListener("click", async () => {
      const couponId = document.getElementById("claimBtn").dataset.couponId;

      try {
        const response = await fetch(`/coupons/${couponId}/claim`, {
          method: "POST",
          credentials: "include"
        });

        const result = await response.json();

        if (response.ok) {
          document.getElementById("result").innerText =
            `🎉 쿠폰 발급 성공! 남은 수량: ${result.left}`;
        } else {
          document.getElementById("result").innerText = `❌ 오류: ${result.message}`;
        }
      } catch (err) {
        document.getElementById("result").innerText = "⚠️ 서버 오류 발생";
      }
    });
</script>
</html>
