<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방 생성</title>
</head>
<body>
<h1>채팅방 생성</h1>
<form th:action="@{/chat/create}" method="post">
  <input type="text" id="name" name="name" placeholder="채팅방 이름" required />
  <button type="submit">생성</button>
</form>
</body>
<script>
    const name = document.getElementById(name).value;
    const msgDiv = document.getElementById(messageId);

    if (!name) {
        msgDiv.textContent = "";
        return;
    }

    function checkValid(){
        if (name.trim() == "" || '') {
            msgDiv.textContent = "채팅방 이름을 공백으로 만들 수 없습니다.";
            msgDiv.style.color = "red";
        return;
    }
}
</script>
</html>