<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>채팅방 목록</title>
</head>
<body>
<h2>내 채팅방 목록</h2>

<ul>
  <li th:each="room, iter : ${chatrooms}">
    <span th:text="${iter.index + 1} + '. '"></span>
    <a th:href="@{|/chat/${room.roomId}|}">
      채팅방 →
      <span>
      <span th:if="${room.roomId.split('_')[0] != currentUserId}"
            th:text="${room.roomId.split('_')[0]} + ' '"></span>
      <span th:if="${room.roomId.split('_')[1] != currentUserId}"
            th:text="${room.roomId.split('_')[1]}"></span>
      </span>
    </a>
  </li>
</ul>

</body>
</html>
