<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방 목록</title>
</head>
<body>
<div th:replace="fragments/header :: user-status"></div>
<h2>내 채팅방 목록</h2>

<ul>
    <li th:each="room, iter : ${chatrooms}">
        <span th:text="${iter.index + 1} + '. '"></span>
        <a th:href="@{|/chat/${room.chatRoom.roomId}|}">채팅방 →<span>
      <span th:if="${room.chatRoom.roomId.split('_')[0] != currentUserId}"
            th:text="${room.chatRoom.roomId.split('_')[0]} + ' '"></span>
      <span th:if="${room.chatRoom.roomId.split('_')[1] != currentUserId}"
            th:text="${room.chatRoom.roomId.split('_')[1]}"></span>
      </span>
            <span th:if="${room.exited}" style="color: red;">(나간 방)</span>
        </a>
    </li>
</ul>

</body>
</html>
