<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>상품등록</title>
</head>
<body>
  <form th:action="@{/board/product/post2}" method="post" th:object="${productDTO}">
    <div>
      <label>상품명:</label>
      <input type="text" th:field="*{productName}" />
      <div th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="error-message"></div>
    </div>
    <div>
      <label>가격:</label>
      <input type="text" th:field="*{price}" />
      <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error-message"></div>
    </div>
    <div>
      <label>분류:</label>
      <select type="text" th:field="*{category}">
        <option value="">--선택--</option>
        <option value="대형">대형</option>
        <option value="중형">중형</option>
        <option value="소형">소형</option>
        <option value="기타">기타</option>
      </select>
      <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="error-message"></div>
    </div>
    <div>
      <label>내용:</label>
      <textarea th:field="*{content}" rows="5"></textarea>
      <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error-message"></div>
    </div>
    <div>
      <label>수량:</label>
      <input type="number" th:field="*{stock}" min="1"/>
      <div th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="error-message"></div>
    </div>
    <div>
      <label>상품 사진:</label>
      <input type="file" id="photoInput" accept="image/*" />
    </div>
    <input type="hidden" name="imageUrl" id="imageUrl">
    <button type="submit">상품 등록</button>
  </form>
</body>
<script>
  const photoInput = document.getElementById("photoInput");
  const imageUrlInput = document.getElementById("imageUrl");

  photoInput.addEventListener("change", async (e) => {
    const file = e.target.files[0];
    if (!file) return;

    const filename = `${Date.now()}_${file.name}`;
    const folder = "product-image";
    const contentType = file.type;

    try {
      // 1. Presigned URL 발급
      const res = await fetch(`/s3/presign?folder=${folder}&filename=${filename}&contentType=${encodeURIComponent(contentType)}`);
      const { presignedUrl, staticUrl } = await res.json();

      // 2. S3 업로드
      const uploadRes = await fetch(presignedUrl, {
        method: "PUT",
        headers: { "Content-Type": file.type },
        body: file
      });

      if (uploadRes.ok) {
        alert("✅ 이미지 업로드 성공");
        imageUrlInput.value = staticUrl;
      } else {
        alert("❌ 업로드 실패");
      }
    } catch (err) {
      alert("에러 발생: " + err.message);
    }
  });
</script>
</html>